.truck-container{
    position: fixed;
    animation: runtruck 8s infinite linear;
    left: -20%;
    bottom: 12px;
}

.truck-wheels{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 80%;
    bottom: -15px;
    left: 16px;
}

.truck-wheels img{
    animation: rotatewheels 1s infinite linear;
}

@keyframes rotatewheels{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes runtruck{
    100%{
        left: 120%;
    }
}